#back-to-top
    position: fixed
    right: -65px
    bottom: 85px
    width: 50px
    height: 50px
    background-color: #747474
    color: #fafafa
    font-size: 30px
    line-height: 40px
    text-align: center
    opacity: 0.5
    cursor: pointer
    -webkit-border-radius: 2px
    border-radius: 2px
    text-decoration: none
    -webkit-transition: all 0.4s ease 0s
    -o-transition: all 0.4s ease 0s
    transition: all 0.4s ease 0s
    z-index: 80

#back-to-top i
    font-size: 24px
    line-height: 50px
    font-weight: normal
    vertical-align: top
    -webkit-transition: all 0.4s ease 0s
    -o-transition: all 0.4s ease 0s
    transition: all 0.4s ease 0s

#back-to-top:hover
    background-color: rgba(0, 0, 0, 0.7)

#back-to-top:hover i
    color: #fff

#back-to-top.visible
    right: 30px

#back-to-top.gone
    right: -65px

.btn
    display: inline-block
    padding: 10px 12px
    border: 1px solid #ccc
    border-radius: 3px
    margin: 0 5px 20px 0
    background-color: #fff
    color: #444
    line-height: 18px
    vertical-align: middle
    text-decoration: none !important
    cursor: pointer

.btn:focus
    outline: none

.btn-large
    padding: 12px 24px
    font-size: 13px

.btn i,
.btn-large i
    float: left
    margin: 2px 8px 0 -4px
    font-size: 14px
    line-height: 14px

.btn:hover
    background: #f9f9f9

.btn-white
    border: 1px solid #dddddd
    background-color: #f7f7f7
    color: #444

a.btn-white
    color: #444

.btn-white:hover
    background: #fbfbfb

.btn-black
    border: 1px solid #464646
    background-color: #464646
    color: #fff

a.btn-black
    color: #fff

.btn-black:hover
    background: #535353

.btn-blue
    border: 1px solid #1f70ad
    background-color: #2778c8
    color: #fff

a.btn-blue
    color: #fff

.btn-blue:hover
    background: #287fc8

.btn-red
    border: 1px solid #b23730
    background-color: #c74039
    color: #fff

a.btn-red
    color: #fff

.btn-red:hover
    background: #ce4640

.btn-green
    border: 1px solid #819633
    background-color: #8da046
    color: #fff

a.btn-green
    color: #fff

.btn-green:hover
    background: #93a749

ul.unstyled
    list-style-type: none

ul.square
    list-style-type: square

ul.circle
    list-style-type: circle

ul.check,
ul.plus,
ul.pin,
ul.fill-circle
    list-style: none
    li
        list-style none

ul.check li:before,
ul.plus li:before,
ul.pin li:before,
ul.fill-circle li:before
    position: relative
    top: -2px
    width: auto
    height: auto
    margin-right: 8px
    font-family: 'FontAwesome'
    font-size: 10px
    font-style: normal

ul.fill-circle li:before
    font-size: 7px

ul.check li:before
    content: ""

ul.plus li:before
    content: ""

ul.pin li:before
    content: ""

ul.fill-circle li:before
    content: ""

.divider
    margin: 30px 0

.divider.single-line
    border-top: 1px solid #e2e2e2

.divider.double-line
    border-top: 4px double #e2e2e2

.divider.single-dotted
    height: 1px
    background: url(../images/bg-single-dotted.gif) repeat-x top left

.divider.double-dotted
    height: 4px
    background: url(../images/bg-double-dotted.gif) repeat-x top left

.pie-chart
    position: relative
    float: left
    text-align: center

.pie-chart canvas
    position: absolute
    z-index: 1
    top: 0
    left: 0

.pie-chart i,
.pie-chart .pie-chart-custom-text,
.pie-chart .pie-chart-percent
    position: absolute
    z-index: 10
    top: 0
    left: 0
    display: block
    width: 100%
    color: #444444
    text-align: center

.pie-chart img
    max-width: 100%
    vertical-align: middle

.pie-chart .pie-chart-custom-text
    font-size: 18px

.pie-chart .pie-chart-percent
    font-size: 16px
    font-weight: 700

.pie-chart-description
    margin-left: 180px

@media (max-width: 767px)
    .pie-chart
        float: none
        margin: 0 auto 30px

    .pie-chart-description
        margin-left: 0

a.social-icon
    display: inline-block
    width: 32px
    margin-right: 15px
    margin-bottom: 5px
    background-color: #252525
    color: #fff
    text-align: center

a.social-icon:last-child
    margin-right: 0

a.social-icon i
    font-size: 16px
    line-height: 32px

a.social-icon:hover
    text-decoration: none

@media (max-width: 480px)
    table,
    thead,
    tbody,
    th,
    td,
    tr
        display: block

    thead tr
        position: absolute
        top: -9999px
        left: -9999px

    tr
        border-top: 1px solid #555

    td:first-child
        border-top: none !important
