#wrap
    max-width: 1100px
    margin: 100px auto
    background-color: #fff
    position: relative
    z-index: 90

#header
#content
    min-height: 300px

#footer
    padding-top: 60px

.cv-section
    padding: 65px 0
    border-top: 1px solid #dadada

#header .cv-section:first-child
    border-top: 10px solid #fdb020

.cv-section-title img
    float: left
    display: block
    margin-right: 20px
    padding: 5px
    border: 1px solid #dadada

.cv-section-title h1
    padding-top: 50px

.cv-section-title h1 small
    font-size: 24px
    line-height: 33px
    text-transform: uppercase
    display: block
    letter-spacing: 1px
    margin-top: 13px

.cv-section-title h2
    margin-bottom: 0
    color: #b1b1b1

.cv-item
    padding-bottom: 40px
    border-bottom: 1px solid #dadada
    margin-bottom: 40px
    p, li, span
        font-size: 14px
        line-height: 25px

.cv-item:last-child
    padding-bottom: 0
    border-bottom: none
    margin-bottom: 0

.cv-item h3
    margin-bottom: 0

.social-media
    margin-bottom: 20px

.period
    float: right
    padding: 12px 20px
    background-color: #b1b1b1
    color: #fff
    -webkit-transition: background-color 0.3s
    -o-transition: background-color 0.3s
    transition: background-color 0.3s
    text-transform: uppercase

.cv-item:hover .period
    background-color: #fdb020

.copyright
    padding: 5px 0
    margin-bottom: 0
    background-color: #b1b1b1
    color: #fff
    text-align: center
    font-size: 12px
    text-transform: uppercase

.portfolio-items
    margin-bottom: 0
    list-style: none

    li
        list-style: none

.portfolio-items li
    float: left
    width: 25%
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    padding: 10px

.portfolio-items li img
    display: block
    width: 100%

.portfolio-items li a,
.portfolio-items li a .img-overlay
    position: absolute
    color: #fdb020
    text-align: center
    opacity: 0
    -webkit-transition: all 0.3s
    -o-transition: all 0.3s
    transition: all 0.3s

.portfolio-items li a
    top: 10px
    right: 10px
    bottom: 10px
    left: 10px

.portfolio-items li a .img-overlay
    background #000
    opacity 0
    top: 0
    bottom: 0
    left: 0
    right: 0

.portfolio-items li a i
    font-size: 48px
    position: absolute
    top: 50%
    left: 50%
    margin-top: -25px
    margin-left: -20px

.portfolio-items li:hover a,
.portfolio-items li:hover a .img-overlay
    opacity: 0.7

.portfolio-filter ul
    margin-bottom: 0
    list-style: none

.portfolio-filter ul li
    display: inline-block
    margin-right: 5px

.portfolio-filter ul li:last-child
    margin-right: 0

.portfolio-filter ul li a
    display: block
    padding: 7px 10px
    color: #444
    text-decoration: none
    -webkit-transition: all 0.3s
    -o-transition: all 0.3s
    transition: all 0.3s

.portfolio-filter ul li a:hover,
.portfolio-filter ul li a.active
    background-color: #b1b1b1
    color: #fff

#languages
    position: absolute
    top: -100px
    z-index: 10
    button
        border: 0
        background: #92B687
        padding: 10px
        text-transform: uppercase
        color: #FFF
        outline: 0
        transition: background-color 0.3s
        &.active, &:hover
            background #5c8c4e
        &.active
            cursor default

@media (max-width: 1399px)
    #languages
        top: -50px
        z-index: 10
@media (max-width: 1024px)
    #languages
        top: 10px
        z-index: 10

.cv-contact
    position: fixed
    top: 210px
    width: 240px
    padding: 40px
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2)
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2)
    background-color: #fff
    z-index: 100

.cv-contact-toggle
    position: absolute
    top: 0
    right: -50px
    width: 50px
    height: 50px
    background-color: #fdb020
    text-align: center
    cursor: pointer
    border-radius: 0 2px 2px 0
    -webkit-transition: background-color 0.3s
    -o-transition: background-color 0.3s
    transition: background-color 0.3s

.cv-contact-toggle i
    color: #fff
    font-size: 24px
    line-height: 50px

.cv-contact-toggle:hover
    background-color: #d78c02

.contact-info
    a, a:visited
        color: black

#contact-form
    overflow: hidden

#contact-form fieldset
    margin: 0

label.validation-error
    color: #b55454

input.validation-error,
textarea.validation-error,
select.validation-error
    border: 1px solid #a1a1a1

#contact-form button
    border: none
    background-color: #252525
    color: #fff
    text-transform: uppercase
    -webkit-transition: background-color 0.3s
    -o-transition: background-color 0.3s
    transition: background-color 0.3s
    padding: 10px 12px
    width: 100%
    line-height: 16px
    outline: 0

#contact-form button:hover
    background-color: #000

#contact-form
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    textarea:focus
        border: 1px solid #888
        outline: none

#print
    position: fixed
    right: 30px
    display: block
    width: 50px
    height: 50px
    background-color: #fdb020
    text-align: center
    text-decoration: none
    -webkit-border-radius: 2px
    border-radius: 2px
    -webkit-transition: background-color 0.3s
    -o-transition: background-color 0.3s
    transition: background-color 0.3s
    z-index: 80

#print i
    color: #fff
    font-size: 24px
    line-height: 50px

#print
    bottom: 30px

#print:hover
    background-color: #d78c02

.skill-list
    ul
        list-style: none
        padding: 0

        li
            display: inline-block
            padding: 6px 10px
            border: 1px solid #DADADA
            transition: all 0.3s ease
            cursor: default
            font-size: 14px
            text-transform: uppercase
            font-weight: 300
            margin: 4px

            &:hover
                border: 1px solid darken(#DADADA, 20)
                background: #DADADA
                color: darken(#DADADA, 60)

            &.js
                border: 1px solid #E7D578
                &:hover
                    background #E7D578
                    color: darken(#E7D578, 60)
                    border: 1px solid darken(#E7D578, 20)
            &.css
                border: 1px solid #C2E2B7
                &:hover
                    background #C2E2B7
                    color: darken(#C2E2B7, 60)
                    border: 1px solid darken(#C2E2B7, 20)
            &.db
                border: 1px solid #B8B5C8
                &:hover
                    background #B8B5C8
                    color: darken(#B8B5C8, 60)
                    border: 1px solid darken(#B8B5C8, 20)
            &.cvs
                border: 1px solid #F4BDB3
                &:hover
                    background #F4BDB3
                    color: darken(#F4BDB3, 60)
                    border: 1px solid darken(#F4BDB3, 20)
            &.sharp
                border: 1px solid #9BB7FF
                &:hover
                    background #9BB7FF
                    color: darken(#9BB7FF, 60)
                    border: 1px solid darken(#9BB7FF, 20)




@media (max-width: 1399px)
    #wrap
        margin: 50px auto
        max-width: 1060px

    #header
    #content
    #footer
        padding-top: 0

@media (max-width: 1024px)
    #wrap
        margin: 0

@media (min-width: 768px) and (max-width: 979px)
    #wrap
    #header
    #content
    #footer
    a.social-icon
        margin-right: 5px

    .cv-contact
        top: 275px

@media (max-width: 767px)
    body
        background: none
        background-color: #fff

    #wrap
    #header
    #header .cv-section-title
        text-align: center

    #content
    #footer
        padding-top: 0

    .row
        padding: 0 40px

    .row .row
        width: auto
        padding: 0 20px
        margin: 0

    p.last,
    h1.last,
    h2.last,
    h3.last,
    h4.last,
    h5.last,
    address.last,
    ul.last,
    ol.last
        margin-bottom: 20px

    .text-right
        text-align: left

    .cv-section-title
        margin-bottom: 40px

    .cv-section
        padding: 65px 40px

    .cv-section-title img
        float: none
        margin: 0 auto

    .period
        float: none

    .portfolio-items li
        float: none
        width: 100%

    .portfolio-filter ul li
        display: block
        margin-right: 0
        margin-bottom: 10px

    .portfolio-filter ul li:last-child
        margin-bottom: 0

    a.social-icon
        margin-right: 5px

    .cv-contact
        position: static
        top: auto
        width: auto
        padding: 0
        padding-bottom: 40px
        -webkit-box-shadow: none
        box-shadow: none
        background-color: #fff
        z-index: 100

    .cv-contact-toggle
        display: none

    .cv-item ul.fill-circle li
        text-align justify

@media only screen and (min-width: 480px) and (max-width: 767px)
    .row
        padding: 0 40px

    .cv-section
        padding: 65px 40px

    .portfolio-items li
        float: left
        width: 50%

